torch>=2.2.0
torchvision>=0.17.0
matplotlib>=3.8.0
scikit-learn>=1.4.0
onnx>=1.16.0
onnxruntime>=1.19.0
librosa>=0.10.2
numpy>=1.26.0
soundfile>=0.12.1
pretty-midi>=0.2.10
crepe>=0.0.16
datasets>=2.18.0
tqdm>=4.66.0
